<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/header :: common-header">

<title>RainbowEstate Agency</title>
</head>

<body>

	<main id="main">

		<!-- ======= Intro Single ======= -->
		<section class="intro-single">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-lg-4">
						<nav aria-label="breadcrumb"
							class="breadcrumb-box d-flex justify-content-lg-end">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#">Home</a></li>
								<li class="breadcrumb-item active" aria-current="page">
									About</li>
							</ol>
						</nav>
					</div>
				</div>
			</div>
		</section>
		<!-- End Intro Single-->

		<!-- ======= About Section ======= -->
		<section class="section-about">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<div class="about-img-box">
							<img src="assets/img/slide-about-1.jpg" alt="" class="img-fluid">
						</div>
						<div class="sinse-box">
							<h3 class="sinse-title">
								RainbowEstate Agency <span></span> <br> Since 2018
							</h3>
							<p>Face the reality with us</p>
						</div>
					</div>
					<div class="col-md-12 section-t8">
						<div class="row">
							<div class="col-md-6 col-lg-5">
								<img src="assets/img/about-2.jpg" alt="" class="img-fluid">
							</div>
							<div class="col-md-6 col-lg-5 section-md-t3">
								<div class="title-box-d">
									<h3 class="title-d">What we do</h3>
								</div>
								<p class="color-text-a">Rainbow estates & consultancy Ltd is
									a private company based at Kigali, we have real estate related
									services, such real estate design, execution and consultancy,
									real estate agency, property management and valuation,
									construction permit application and land consultancy.
									<br>For more information: 
									<li>Call/whatsapp:(+250)782018888 
									<li>Office address:Kimironko, magnificat house,upstairs office :A13. 
									<div class="card-header-a">
										<h2 class="card-title-a">
											<a th:href="@{property-single.html}">Face the reality <br />
												with us.
											</a>
										</h2>
									</div>
									 
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- =======Team Section ======= -->
		<section class="section-agents section-t8">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="title-wrap d-flex justify-content-between">
							<div class="title-box">
								<h2 class="title-a">Our team</h2>
							</div>
							<div class="title-link">
								<a th:href="@{agents-grid.html}"> <span
									class="ion-ios-arrow-forward"></span>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="card-box-d">
							<div class="card-img-d">
								<img th:src="@{assets/img/agent-1.jpg}" alt=""
									class="img-d img-fluid">
							</div>
							<div class="card-overlay card-overlay-hover">
								<div class="card-header-d">
									<div class="card-title-d align-self-center">
										<h3 class="title-d">
											<a th:href="@{agent-single.html}" class="link-two">NKINDI
												Blaise <br>CEO
											</a>
										</h3>
									</div>
								</div>
								<div class="card-body-d">
									<p class="content-d color-text-a">He has demonstrated
										experience in Real estate and he hold a degree in Civil
										Engineering.</p>
									<div class="info-agents color-a">
										<p>
											<strong>Phone: </strong> +250 782 018 888p>
										<p>
											<strong>Email: </strong>rainbowestates4@gmail.com
										</p>
									</div>
								</div>
								<div class="card-footer-d">
									<div class="socials-footer d-flex justify-content-center">
										<ul class="list-inline">
											<li class="list-inline-item"><a
												th:href="@{https://www.facebook.com/nkindi.blaise}"
												class="link-one"> <i class="fa fa-facebook"
													aria-hidden="true"></i>
											</a></li>
											<li class="list-inline-item"><a
												th:href="@{https://twitter.com/estates_ltd}"
												class="link-one"> <i class="fa fa-twitter"
													aria-hidden="true"></i>
											</a></li>
											<li class="list-inline-item"><a
												th:href="@{https://www.instagram.com/blaisenkindi/}"
												class="link-one"> <i class="fa fa-instagram"
													aria-hidden="true"></i>
											</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="card-box-d">
							<div class="card-img-d">
								<img th:src="@{assets/img/agent-4.jpg}" alt=""
									class="img-d img-fluid">
							</div>
							<div class="card-overlay card-overlay-hover">
								<div class="card-header-d">
									<div class="card-title-d align-self-center">
										<h3 class="title-d">
											<a th:href="@{agent-single.html}" class="link-two">Stiven
												Spilver <br> Darw
											</a>
										</h3>
									</div>
								</div>
								<div class="card-body-d">
									<p class="content-d color-text-a">Sed porttitor lectus
										nibh, Cras ultricies ligula sed magna dictum porta two.</p>
									<div class="info-agents color-a">
										<p>
											<strong>Phone: </strong> +54 356 945234
										</p>
										<p>
											<strong>Email: </strong> agents@example.com
										</p>
									</div>
								</div>
								<div class="card-footer-d">
									<div class="socials-footer d-flex justify-content-center">
										<ul class="list-inline">
											<li class="list-inline-item"><a th:href="@{#}"
												class="link-one"> <i class="fa fa-facebook"
													aria-hidden="true"></i>
											</a></li>
											<li class="list-inline-item"><a th:href="@{#}"
												class="link-one"> <i class="fa fa-twitter"
													aria-hidden="true"></i>
											</a></li>
											<li class="list-inline-item"><a th:href="@{#}"
												class="link-one"> <i class="fa fa-instagram"
													aria-hidden="true"></i>
											</a></li>
											<li class="list-inline-item"><a th:href="@{#}"
												class="link-one"> <i class="fa fa-pinterest-p"
													aria-hidden="true"></i>
											</a></li>
											<li class="list-inline-item"><a th:href="@{#}"
												class="link-one"> <i class="fa fa-dribbble"
													aria-hidden="true"></i>
											</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="card-box-d">
							<div class="card-img-d">
								<img th:src="@{assets/img/agent-5.jpg}" alt=""
									class="img-d img-fluid">
							</div>
							<div class="card-overlay card-overlay-hover">
								<div class="card-header-d">
									<div class="card-title-d align-self-center">
										<h3 class="title-d">
											<a th:href="@{agent-single.html}" class="link-two">Emma
												Toledo <br> Cascada
											</a>
										</h3>
									</div>
								</div>
								<div class="card-body-d">
									<p class="content-d color-text-a">Sed porttitor lectus
										nibh, Cras ultricies ligula sed magna dictum porta two.</p>
									<div class="info-agents color-a">
										<p>
											<strong>Phone: </strong> +54 356 945234
										</p>
										<p>
											<strong>Email: </strong> agents@example.com
										</p>
									</div>
								</div>
								<div class="card-footer-d">
									<div class="socials-footer d-flex justify-content-center">
										<ul class="list-inline">
											<li class="list-inline-item"><a th:href="@{#}"
												class="link-one"> <i class="fa fa-facebook"
													aria-hidden="true"></i>
											</a></li>
											<li class="list-inline-item"><a th:href="@{#}"
												class="link-one"> <i class="fa fa-twitter"
													aria-hidden="true"></i>
											</a></li>
											<li class="list-inline-item"><a th:href="@{#}"
												class="link-one"> <i class="fa fa-instagram"
													aria-hidden="true"></i>
											</a></li>
											<li class="list-inline-item"><a th:href="@{#}"
												class="link-one"> <i class="fa fa-pinterest-p"
													aria-hidden="true"></i>
											</a></li>
											<li class="list-inline-item"><a th:href="@{#}"
												class="link-one"> <i class="fa fa-dribbble"
													aria-hidden="true"></i>
											</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

	</main>
	<!-- End #main -->

	<div th:replace="common/header :: footers"></div>

</body>

</html>